<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EmptyAndroidApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".weather.binding.WeatherBindingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Weather Demo：ViewBinding 版 -->
<!--        <activity-->
<!--            android:name=".weather.binding.WeatherBindingActivity"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/Theme.EmptyAndroid" />-->

        <!-- Weather Demo：Compose 版（完全相同的功能，只换 UI 层） -->
        <activity
            android:name=".weather.compose.WeatherComposeActivity"
            android:exported="false"
            android:theme="@style/Theme.EmptyAndroid" />

        <!-- Weather Detail：已改为 Fragment destination，
             由 weather_nav_graph.xml 的 Navigation Component 管理，
             不再需要独立 Activity 注册 -->
    </application>

</manifest>
